agrupar {
    width: 960px;
    margin: 15px auto;
    text-align: left;
    }	
body{
  background-color: rgb(80, 255, 173);
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
}

.nav-container {
    position: relative;
    display: inline-block;
    text-align: center;
  }
       
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#fechaHora {
    position: fixed;
    top: 0;
    right: 50px;
    padding: 5px 10px;
    background-color: rgba(15, 219, 185, 0.959);
    border: 3px solid rgb(247, 6, 6);
}
.nav-buttons {
    text-align: center;
    margin-top: 20px; /* Ajusta según sea necesario */
    
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.nav-container a {
    font-family: 'Roboto', sans-serif;
}
.nav-container a {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.index {
    background-image: url('Dollarphotoclub_85774162.jpg');
    background-size: cover;

} 
     h1 {
     font: bold 35px times, sans-serif;color:rgb(153, 7, 7);
         text-align: center;
    }
         h2 {
     font: bold 35px times, sans-serif;color:rgb(0, 0, 0);
         text-align: left;
    }
     h3 {
        font: bold 55px times, sans-serif;color:rgb(123, 206, 151);
         text-align: justify;
       }
  

.informacion {
    background-image: url(mantenimiento.png);
    background-size: cover;
 
}
.servicios {
    background-image: url('PBX-virtual.webp');
    background-size: cover;
}

a img {
    border-radius: 25px;
    transition: transform 0.2s ease-in-out;
}

a img:hover {
    transform: scale(3.3);
}
img {
    display: block;
    margin: 0 auto;
    padding-top: 10px; /* Ajusta según lo que necesites */
    margin-left: 18cm; /* Mueve la imagen 5 cm hacia la derecha */
}
form {
    position: relative;
    left: 11cm;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  justify-content: space-between; /* Distribuye los grupos */
  align-items: center;
  padding: 10px;
  background-color: #333;
}

.left-group {
  display: flex;
  margin-left: 40px; /* Aleja el grupo de la izquierda */
  gap: 30px; /* Espaciado entre los botones */
}

.center-group {
  display: flex;
  gap: 40px;
  justify-content: center; /* Centra el grupo */
  flex-grow: 1; /* Permite ocupar espacio y centrar dentro del nav */
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.hero-header {
  background-image: url('Dollarphotoclub_85774162.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Esto hace que la sección ocupe toda la altura de la pantalla */
  position: relative;
  color: white;
  text-shadow: 1px 1px 4px rgba(185, 22, 22, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
